<div id="profile-usuario" class="page-layout carded fullwidth">
	<!-- ACTIONS -->
	<div class="actions-profile-detalle" *ngIf="!edit_enable && user.tipo_usuario == 'empresa'">
		<div class="action action-filled" (click)="editarPerfil()">
			<span>Editar</span>
		</div>
	</div>
	<div class="actions-profile-editar" *ngIf="edit_enable">
		<div class="action action-filled" (click)="updateProfile()">
			<span>Guardar</span>
		</div>
		<div class="action action-outline" (click)="cancelarEdicion()">
			<span>Descartar</span>
		</div>
	</div>
	<!-- ACTIONS -->

	<!-- CONTENT CARD -->
	<div class="content-card" fusePerfectScrollbar>
		<!-- CONTENT -->
		<div class="content">
			<!-- FORMA CONTENT -->
			<div class="forma-content m-16" fusePerfectScrollbar>
				<!-- FORMULARIO -->
				<div class="formulario" fusePerfectScrollbar>
					<form name="usuarioForm" [formGroup]="usuarioForm" class="product w-100-p" fxLayout="column"
						fxFlex>

						<div class="usuario">
							<div class="imagen">
								<input id="user_img" (change)="changeProfilePhoto($event)" type="file"
									accept="image/png, image/jpeg" class="d-none">
								<img class="camera_icon" onclick="document.getElementById('user_img').click();"
									src="./assets/images/pages/profile/camera_profile.svg" alt="Camera"
									*ngIf="edit_enable">
								<img class="user_imagen" *ngIf="!profile?.image && imagen == ''"
									src="./assets/images/pages/profile/default_user.png" alt="Usuario">
								<img class="user_imagen" *ngIf="!profile?.image && imagen != ''"
									[src]="'data:image/png;base64,'+imagen" alt="Usuario">
								<img class="user_imagen" *ngIf="profile?.image && imagen != ''"
									[src]="'data:image/png;base64,'+imagen" alt="Usuario">
								<img class="user_imagen" *ngIf="profile?.image && imagen == ''"
									src="{{profile?.image}}" alt="User img">
							</div>
							<div class="information-acceso">
								<mat-form-field appearance="outline" floatLabel="always"
									class="w-100-p zs-form-field-required">
									<mat-label>Nombre<span *ngIf="edit_enable"></span></mat-label>
									<input matInput placeholder="Nombre" name="name" formControlName="name"
										[readonly]="true">
								</mat-form-field>
								<mat-form-field appearance="outline" floatLabel="always"
									class="w-100-p zs-form-field-required">
									<mat-label>RFC</mat-label>
									<input matInput placeholder="RFC" name="rfc" formControlName="rfc"
										[readonly]="true">
								</mat-form-field>

							</div>

						</div>


					</form>
				</div>
				<!-- FORMULARIO -->

				<!-- LISTA INTERNA -->
				<div class="lista-interna" fusePerfectScrollbar>
					<mat-tab-group fxLayout="column" fxFlex>

						<mat-tab label="Datos de contacto">
							<div class="formulario seguridad w-100-p" fusePerfectScrollbar>
								<form name="empresaForm" [formGroup]="empresaForm" class="product w-100-p"
									fxLayout="column" fxFlex>
									<div class="contacto-form-div">
										<mat-form-field appearance="outline" floatLabel="always" fxFlex="47"
											class="zs-form-field-required">
											<mat-label>Email</mat-label>
											<input matInput placeholder="Email" name="email"
												formControlName="email" [readonly]="!edit_enable">
										</mat-form-field>
										<mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
											<mat-label>Teléfono</mat-label>
											<input matInput placeholder="Teléfono" name="telefono"
												formControlName="telefono" [readonly]="!edit_enable">
										</mat-form-field>
										<mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
											<mat-label>Celular</mat-label>
											<input matInput placeholder="Celular" name="movil"
												formControlName="movil" [readonly]="!edit_enable">
										</mat-form-field>
										<mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
											<mat-label>Website</mat-label>
											<input matInput placeholder="Website" name="website"
												formControlName="website" [readonly]="!edit_enable">
										</mat-form-field>

									</div>
								</form>
							</div>
						</mat-tab>

						<mat-tab label="Dirección">
							<div class="formulario direccion w-100-p">
								<form name="direccionForm" [formGroup]="direccionForm" class="product w-100-p"
									fxLayout="column" fxFlex>

									<div class="direccion-form-one">
										<mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
											<mat-label>Calle</mat-label>
											<input matInput placeholder="Calle" name="calle"
												formControlName="calle" [readonly]="true">
										</mat-form-field>

										<!-- <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
											<mat-label>Número exterior</mat-label>
											<input matInput placeholder="Número exterior" name="numero_ext"
												formControlName="numero_ext">
										</mat-form-field>

										<mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
											<mat-label>Número interior</mat-label>
											<input matInput placeholder="Número interior" name="numero_int"
												formControlName="numero_int">
										</mat-form-field> -->

									</div>

									<div class="direccion-form-two">
										<mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
											<mat-label>Colonia</mat-label>
											<input matInput placeholder="Colonia" name="colonia"
												formControlName="colonia" [readonly]="true">
										</mat-form-field>

										<mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
											<mat-label>Municipio</mat-label>
											<input matInput placeholder="Ciudad" name="ciudad"
												formControlName="ciudad" [readonly]="true">
										</mat-form-field>

									</div>

									<div class="direccion-form-three">
										<mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
											<mat-label>CP</mat-label>
											<input matInput placeholder="Código postal" name="cp"
												formControlName="cp" [readonly]="true">
										</mat-form-field>
										<mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
											<mat-label>Estado</mat-label>
											<mat-select disableRipple placeholder="Estado" name="estado"
												formControlName="estado">
												<mat-option [value]="option.id"
													*ngFor="let option of estados">{{option.name}}</mat-option>
											</mat-select>
										</mat-form-field>


									</div>

									<div class="direccion-form-four">

										<mat-form-field appearance="outline" floatLabel="always" fxFlex="47">
											<mat-label>País</mat-label>
											<mat-select disableRipple placeholder="País" name="pais"
												formControlName="pais" (ngModelChange)="changePais($event)">
												<mat-option [value]="option.country_id"
													*ngFor="let option of paises">{{option.name}}</mat-option>
											</mat-select>
										</mat-form-field>


									</div>
								</form>
							</div>
						</mat-tab>

					</mat-tab-group>

				</div>
				<!-- LISTA INTERNA -->
			</div>
			<!-- FORMA CONTENT -->
		</div>
		<!-- CONTENT -->
	</div>
	<!-- CONTENT CARD -->

</div>