@import "../../../../styles/breakpoints.scss";

#detalle-contracts {
	font-family: "Inter var";

	.mat-mdc-form-field {
		width: 100%;
	}

	.form-sale-title {
		margin: 2em 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 0.5em;

		.form-sale-title-label {
			font-size: 1em;
		}

		.form-sale-title-text {
			font-size: 2em;
		}
	}

	.zs-div {
		border: 2px solid #BABABA36;
		padding: 1em;
		margin: 1em 0;
		border-radius: 1em;

		@include media-breakpoint(xs) {
			margin: 0 0 1em 0;
		}
	}

	.zs-div-nb {
		// padding: 1em;
		margin-top: 1em;
	}

	.container-group-orders {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;

		@include media-breakpoint(xs) {
			grid-template-columns: 1fr;
			gap: 0em;
		}

		@include media-breakpoint(sm) {
			grid-template-columns: 1fr;
			gap: 0em;
		}

		@include media-breakpoint(md) {
			grid-template-columns: 1fr;
			gap: 0em;
		}

	}

	.content-card {
		padding: 2em;
	}

	.content {
		display: flex;
		justify-content: center;
		overflow: auto;

		.forma-content {
			padding: 0em 3em 3em 3em;
			flex: 1 1 auto;
			border-bottom: 1px solid rgba(0, 0, 0, .12);
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			border-radius: 10px;
			background: #FFF;
			box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
			// Estilos grid css
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 1px 1px;
			grid-template-areas: "formulario";

			@include media-breakpoint(xs) {
				display: block;
			}

			@include media-breakpoint(sm) {
				display: block;
			}

			@include media-breakpoint(md) {
				display: block;
			}


			// Estilo botón de activar o desactivar
			.toggle-option {
				display: grid;
				grid-template-columns: auto 1fr;
				grid-template-rows: 1fr;
				gap: 1px 5px;
				grid-template-areas: "title toggle";
				margin-top: 0.5em;
				margin-bottom: 1.3em;
			}

			.title {
				grid-area: title;
				margin-top: auto;
				margin-bottom: auto;
			}

			.toggle {
				grid-area: toggle;
				margin-top: auto;
				margin-bottom: auto;

				.mat-slide-toggle.mat-disabled {
					opacity: 1;
				}
			}

			// Grid container para el formulario y lista interna
			//.formulario {
				//grid-area: formulario;
			//}

		}

		.totales {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 0;
			grid-template-areas: ". . .";
			border: 2px solid #BABABA36;
			padding: 1em;
			margin: 1em 0;
			border-radius: 1em;

			@include media-breakpoint(xs) {
				grid-template-columns: 1fr;
				grid-template-areas: ".";
			}

			.descriptions {
				font-size: 1.2em;
			}

			.valores {
				font-size: 1.5em;
			}
		}

		.information {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			gap: 0;

			@include media-breakpoint(xs) {}

			.subtotal {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;
			}

			.impuestos {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;
			}

			.total {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;

				.descriptions {
					font-size: 1.3em;
				}

				.valores {
					font-size: 1.8em;
				}
			}
		}
	}
}

.header-forma {
	padding: 1em 2em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 1em;
	grid-template-areas:
		"titulo-header"
		"buttons-actions";
}

.titulo-header {
	grid-area: titulo-header;
	display: flex;
	font-size: 1.5em;

	.mat-icon {
		margin-right: 0.3em;
		align-self: center;
	}
}

.mat-drawer-page{
	width: 100% !important;
}

.table-title-label {
	font-size: 1.4em;
	margin: 15px 0px 0px 10px;
}

.card-table {
	//margin: 2em;
	//width: 95%;
	box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
	// border-radius: 10px 10px 0 0;
	border-radius: 10px;
	background-color: #FFF;

	mat-chip-list {
		margin: 1em 0;
		text-align: right;
		background-color: #FFF;
	}

	mat-chip {
		font-size: 1.2rem;
		color: #555555b5;
	}

	.mat-chip-list-wrapper {
		text-align: right;
		background-color: #FFF;
		border-radius: 10px 10px 0 0;
		margin: 0.5em;
	}

	mat-table {
		//height: calc(100vh - 230px);
		// max-height: 560px;
		// box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
		border-radius: 10px 10px 0 0;
	}

	mat-paginator {
		border-radius: 0 0 10px 10px;
		box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
	}

	mat-row:hover {
		background-color: #bbbdc2;
	}
}


.content-table {

	.invoice-table-footer {
		margin-top: 32px;
		float: right;

		tr {

			td {
				text-align: right;
				font-size: 14px;
				font-weight: 600;
				color: rgba(0, 0, 0, 0.54);
				border-bottom: none;
				padding: 4px 8px;

				&:first-child {
					text-align: left;
				}
			}

			&.discount {

				td {
					padding-bottom: 12px;
				}
			}

			&.total {

				td {
					padding: 15px 8px;
					border-top: 1px solid rgba(0, 0, 0, 0.12);
					font-size: 16px;
					font-weight: 300;
					color: rgba(0, 0, 0, 1);
				}
			}
		}
	}
}

.zs-action-bar-state {
	display: flex;
	//flex-direction: row-reverse;
	gap: 0;
	font-size: 1em;
	background: #FFF;
	height: 3.5em;
	align-items: center;


	@include media-breakpoint(sm) {
		height: 3.5em;
	}

	@include media-breakpoint(xs) {
		display: none;
	}

	.zs-action-s {
		display: flex;
		gap: 1px 5px;
		padding: 0rem 0.5rem 0rem 1.5rem;
		background: #fbfcfd;
		color: #3D4151;
		height: 100%;
		border-left: 1px solid #8c8c8c;
		position: relative;



		@include media-breakpoint(sm) {
			height: 3.5em;
			grid-template-columns: 1fr;
			grid-template-rows: 0.5fr 1fr;
			grid-template-areas: "icono" "description";
		}

		@include media-breakpoint(xs) {
			height: 3.5em;
			grid-template-columns: 1fr;
			grid-template-rows: 0.5fr 1fr;
			grid-template-areas: "icono" "description";
		}
	}

	.zs-action-state {
		display: flex;
		gap: 1px 5px;
		padding: 0rem 0.5rem 0rem 1.5rem;
		background: #8c8c8c;
		color: #3D4151;
		height: 100%;
		//border-left: 1px solid #8c8c8c;
		position: relative;


		@include media-breakpoint(sm) {
			height: 3.5em;
			grid-template-columns: 1fr;
			grid-template-rows: 0.5fr 1fr;
			grid-template-areas: "icono" "description";
		}

		@include media-breakpoint(xs) {
			height: 3.5em;
			grid-template-columns: 1fr;
			grid-template-rows: 0.5fr 1fr;
			grid-template-areas: "icono" "description";
		}
	}

	.zs-action-s:before {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 1.9em 0 1.8em 0.6em;
		border-color: transparent transparent transparent #8c8c8c;
		position: absolute;
		right: -9px;
		top: 50%;
		transform: translateY(-50%);
	}

	.zs-action-s:after{
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 1.9em 0 1.8em 0.6em;
		border-color: transparent transparent transparent #fbfcfd;
		position: absolute;
		right: -8px;
		top: 50%;
		transform: translateY(-50%);
	}


	.zs-action-state:after {
		content: "";
		border-top: 1.8em solid transparent;
		border-bottom: 1.8em solid transparent;
		border-left: 0.6em solid #8c8c8c;
		position: absolute;
		right: -8px;
		top: 50%;
		transform: translateY(-50%);
	}

	.description-state {
		grid-area: description;
		margin-top: auto;
		margin-bottom: auto;
		font-size: 14px;

		@include media-breakpoint(md) {
			margin: auto;
			margin-top: auto;
			margin-bottom: auto;
		}

		@include media-breakpoint(sm) {
			margin: auto;
			margin-top: auto;
			margin-bottom: auto;
		}

		@include media-breakpoint(xs) {
			margin: auto;
			margin-top: auto;
			margin-bottom: auto;
			text-align: center;
		}
	}

}

.actions-profile-detalle,
.actions-profile-editar {
	display: flex;
	margin: 5px 5px;

	.action {
		padding: 0 0.5em;
		display: grid;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		cursor: pointer;
		width: 100%;
		height: 100%;
	}

	.action-outline {
		margin-left: 5px;
		padding: 5px 25px;
		background-color: #FFF;
		color: #004689;
		border: 1px solid #004689;
	}

	.action-filled {
		padding: 5px 25px;
		background-color: #004689;
		color: #FFF;
		border: 1px solid #004689;
	}
}



.zs-action-bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	direction: rtl;
	gap: 0;
	grid-template-areas: ". . . . . . . . .";
	font-size: 1em;
	background: #FFF;
	height: 3.5em;
	margin-right: -3em;

	@include media-breakpoint(sm) {
		height: 3.5em;
	}

	@include media-breakpoint(xs) {
		display: none;
	}

	.zs-action {
		display: flex;
		//grid-template-columns: 0.5fr 1.5fr;
		//grid-template-rows: 1fr;
		gap: 1px 5px;
		//grid-template-areas: "icono description";
		// min-height: 5em;
		flex-direction: row-reverse;
		padding: 0rem 0.3rem;
		border: 1px solid #d8d8d8;
		background: #FFF;
		color: #0b172a;
		cursor: pointer;
		height: 100%;


		@include media-breakpoint(sm) {
			height: 3.5em;
			grid-template-columns: 1fr;
			grid-template-rows: 0.5fr 1fr;
			grid-template-areas: "icono" "description";
		}

		@include media-breakpoint(xs) {
			height: 3.5em;
			grid-template-columns: 1fr;
			grid-template-rows: 0.5fr 1fr;
			grid-template-areas: "icono" "description";
		}
	}

	.icono {
		grid-area: icono;
		font-size: 3rem;
		color: #00C3D1;
		font-weight: 500;
		//margin: auto;
		margin-top: auto;
		margin-bottom: auto;
		display: flex;
		align-items: center;

		@include media-breakpoint(md) {
			height: 0em;
		}

		@include media-breakpoint(sm) {
			height: 0em;
		}
	}

	.description {
		grid-area: description;
		//font-weight: 500;
		margin-top: auto;
		margin-bottom: auto;
		line-height: 1;
		text-align: left;

		@include media-breakpoint(md) {
			margin: auto;
			margin-top: auto;
			margin-bottom: auto;
			// height: 2em;
		}

		@include media-breakpoint(sm) {
			margin: auto;
			margin-top: auto;
			margin-bottom: auto;
		}

		@include media-breakpoint(xs) {
			margin: auto;
			margin-top: auto;
			margin-bottom: auto;
			text-align: center;
		}
	}

	.zs-indicador {
		display: grid;
		grid-template-columns: 0.5fr 1.5fr;
		grid-template-rows: 1fr;
		gap: 1px 5px;
		grid-template-areas: "indicador information";
		// min-height: 5em;
		padding: 0.5rem 0.5rem;
		border: 1px solid #00C3D1;
		background: #FFF;
		color: #3D4151;
		cursor: pointer;
		height: 100%;

		@include media-breakpoint(md) {
			grid-template-columns: 1fr;
			grid-template-rows: 0.5fr 1fr;
			grid-template-areas: "indicador" "information";
		}

		@include media-breakpoint(sm) {
			grid-template-columns: 1fr;
			grid-template-rows: 0.5fr 1fr;
			grid-template-areas: "indicador" "information";
		}
	}

	.indicador {
		grid-area: indicador;
		color: #00C3D1;
		font-size: 3rem;
		font-weight: 500;
		margin: auto;
		margin-top: auto;
		margin-bottom: auto;

		@include media-breakpoint(md) {
			height: 1em;
		}

		@include media-breakpoint(sm) {
			height: 1em;
		}
	}

	.information {
		grid-area: information;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		gap: 1px 1px;
		grid-template-areas: "contador" "titulo";

		font-weight: 500;
		margin-top: auto;
		margin-bottom: auto;

		.count {
			font-weight: bold;
			margin-right: 0.5em;
		}

		@include media-breakpoint(md) {
			margin: auto;
			margin-top: auto;
			margin-bottom: auto;
		}

		@include media-breakpoint(sm) {
			margin: auto;
			margin-top: auto;
			margin-bottom: auto;
		}
	}

	.contador {
		grid-area: contador;
		text-align: left;
	}

	.titulo {
		grid-area: titulo;
	}

	// Acciones hover
	.zs-action:hover {
		opacity: 0.7;
		background: #BABABA36;
	}

	.zs-indicador:hover {
		opacity: 0.7;
		background: #BABABA36;
	}

	// Acciones active
	.zs-action:active {
		.description {
			font-weight: 500;
			//font-weight: bold;
		}

		background: #BABABA24;
	}

	.zs-indicador:active {
		.information {
			font-weight: bold;
		}

		background: #BABABA24;
	}

	// Cuando esta deshabilitada la opción

	.zs-action-disabled {
		cursor: default;
		pointer-events: none;
	}

	.zs-action-disabled:hover {
		opacity: 1;
		background: #FFF;
	}

	.zs-action-disabled:active {
		background: #FFF;

		.description {
			font-weight: normal;
		}
	}

	.zs-indicador-disabled {
		cursor: default;
		pointer-events: none;
	}

	.zs-indicador-disabled:hover {
		opacity: 1;
		background: #FFF;
	}

	.zs-indicador-disabled:active {
		background: #FFF;

		.description {
			font-weight: normal;
		}
	}

}

.states{
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	height: 100%;
}



[disabled] {
	color: #374554 !important;
}


.d-none {
	display: none;
}