<mat-list role="list">
	<mat-list-item role="listitem" *ngFor="let data of orders">
		<div class="info-container">
			<div class="title" button (click)="goToDetail(data.id)">
				<h4 class="order-numero text-sm">Folio: <span class="text-sm">{{data.name}}</span></h4>
			</div>
			<div class="information" button (click)="goToDetail(data.id)">
				<h5 class="order-vendedor">Fecha de gasto: {{data.date}}</h5>
				<h5 class="order-vendedor">Origen de recurso: {{data.payment_type_name}}</h5>
				<h5 class="order-vendedor" *ngIf="user?.companyType === 'concesionario'">Tipo de gasto: {{data.expense_type_name}}</h5>
				<h5 class="order-vendedor" *ngIf="user?.companyType === 'proveedor'">Concesionario: {{data.concesionario.name}}</h5>
				<h5 class="order-vendedor">Línea rel.: {{data.linea.name_short}}</h5>
				<h5 class="order-vendedor border-solid border-[#BABABA] border-b">Total: {{data.total_amount | currency:'USD':'symbol'}}</h5>
				<div class="flex justify-end py-1">
					<mat-chip [style.border-style]="borderStyle" [style.border-color]="data.state_color"
						[style.border-width]="borderWidth" [style.color]="data.state_color"
						class="rounded-2xl px-2 truncate ... text-sm font-bold" selected>{{
						data.state_name }}</mat-chip>
				</div>
			</div>
		</div>
	</mat-list-item>
</mat-list>