.arrow-class {
    content: "";
    width: 13%;
    height: 53%;
    border-bottom: 1px solid transparent;
    border-left: 1px solid;
    position: absolute;
    right: -8px;
    top: 21%;
    transform: rotate(205deg) skewY(37.5deg);
    z-index: 10
}