<mat-dialog-content class="pb-1">
    <h4 class="flex justify-center text-2xl text-gray-900">Estado en:</h4>
</mat-dialog-content>
<mat-dialog-content>
    <ol class="sm:hidden flex items-center border border-l-primary">
        <div *ngFor="let estado of states; let i = index; let last = last">
            <li *ngIf="estado.name != st && i < getState(st)" class="flex relative w-48 h-12 border-y border-y-primary">
                <a class="flex items-center font-medium px-2 py-2 w-full">
                    <span
                        class=" bg-[#EEEEEE] border border-primary rounded-full flex justify-center items-center ml-3 mr-3 text-sm text-primary w-8 h-8">{{
                        i+1 }}</span>
                    <h4 class="flex text-sm  text-gray-900">{{ estado.name }}</h4>
                </a>
                <div *ngIf="!last" class="arrow-class border-primary bg-white">
                </div>
            </li>

            <li #listItem *ngIf="estado.name === st" class="flex relative w-48 h-12 border-y border-y-primary">
                <a class="flex items-center font-medium px-2 py-2 w-full bg-[#EEEEEE]">
                    <span class=" bg-primary rounded-full flex justify-center items-center ml-3 mr-3 text-sm text-white w-8 h-8">
                        {{ i+1 }}
                    </span>
                    <h4 class="flex text-sm text-primary">{{ estado.name }}</h4>
                </a>
                <div *ngIf="!last" class="arrow-class border-primary bg-[#EEEEEE]">
                </div>
            </li>

            <li *ngIf="estado.name != st && i > getState(st)" class="flex relative w-48 h-12 border-y border-y-primary">
                <a class="flex items-center font-medium px-2 py-2 w-full">
                    <span
                        class="bg-[#EEEEEE] border border-primary text-primary rounded-full flex justify-center items-center ml-3 mr-3 text-sm w-8 h-8">{{ i+1 }}</span>
                    <h4 class="flex text-sm  text-gray-900">{{ estado.name }}</h4>
                </a>
                <div *ngIf="!last" class="arrow-class border-primary">
                </div>
            </li>
        </div>
    </ol>
</mat-dialog-content>
<mat-dialog-actions class="actions-profile-editar" align="end">
    <button mat-button class="bg-primary text-white" (click)="onAccept()">Aceptar</button>
</mat-dialog-actions>