<div class="flex flex-col flex-auto min-w-0">
	<mat-drawer-container class="flex flex-col flex-auto min-w-0">
		<mat-drawer class="w-72 dark:bg-gray-900" [autoFocus]="false" [mode]="'over'" [position]="'end'" #matDrawer>
			<app-attach-cfdi-sidebar
				[documentXml]="dataSource?.cfdi_binary" [fileNameXml]="dataSource?.cfdi_binary_filename"
				[documentPdf]="dataSource?.cfdi_pdf_binary" [fileNamePdf]="dataSource?.cfdi_pdf_binary_filename"
				[dataId] = "dataSource?.id" [dataName]="dataSource?.name"
				(form)="closeSidebar($event)"></app-attach-cfdi-sidebar>
		</mat-drawer>
		<mat-drawer-content class="flex flex-col">
			<div
				class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 md:px-8 border-b bg-card dark:bg-transparent">
				<!-- Title -->
				<div>
					<div class="cursor-pointer" (click)="return()">
						<div class="text-4xl font-extrabold tracking-tight leading-none"> <mat-icon class="mr-3 icon-size-6 " [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>Finanzas</div>
					</div>
					<div class="flex items-center mt-0.5 font-medium text-secondary">
						<!-- Breadcrumbs -->
						<ng-container>
							<div class="flex items-center space-x-2">
								<a class="color_blue cursor-pointer"
									(click)="return()">Finanzas
								</a>
								<div class="">/</div>
								<div>{{dataSource?.name}}</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
			<!-- Actions bar -->
			<div
				class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-6 sm:py-2 sm:px-10 border-b bg-card dark:bg-transparent">
				<div class="flex-1 min-w-0 py-2">
					<div class="flex gap-2">
						<button class="rounded bg_color_blue" mat-flat-button  *ngIf="(dataSource?.cfdi_pdf_binary_filename && dataSource?.cfdi_binary_filename) && estado === 'Cargando facturas' || estado === 'Rechazado'"
						(click)="sendToNextState()">Enviar a revision</button>
						<div class="flex items-center ml-auto">
							<!-- Botones para telefono -->
							<span
								class="sm:hidden bg-primary rounded-full flex justify-center items-center ml-3 mr-3 text-sm text-white w-7 h-8"
								(click)="showStates()">
								<mat-icon class="text-white" [svgIcon]="'heroicons_solid:ellipsis-vertical'"></mat-icon>
							</span>
						</div>
					</div>
				</div>

				<custom-stepper [states]="estados" [st]="estado"></custom-stepper>
			</div>
			<!-- Content -->
			<div class="flex-auto py-4 px-6 sm:py-8 sm:px-10 overflow-y-auto" cdkScrollable>
				<!-- Forms -->
				<div class="h-300 min-h-300 bg-card rounded-2xl shadow">
					<div *ngIf="estado === 'Cargando facturas' || estado === 'Rechazado'" class="mb-action-bar inner-scroll">
						<div class="sm:hidden mb-action group hover:bg-indigo-50 hover:border-indigo-600 hover:text-primary-500  active:text-white" (click)="matDrawer.toggle()">
							<div class="icono">
								<mat-icon aria-hidden="false" aria-label="back"
									class="color_blue">backup</mat-icon>
							</div>
							<div class="description">
								<span>Adjuntar archivos</span>
							</div>
						</div>
						<div class="hidden sm:flex mb-action group hover:bg-indigo-50 hover:border-indigo-600 hover:text-primary-500  active:text-white"
							(click)="matDrawer.toggle()">
							<div class="icono">
								<mat-icon aria-hidden="false" aria-label="back"
									class="color_blue">backup</mat-icon>
							</div>
							<div class="description">
								<span>Adjuntar archivos</span>
							</div>
						</div>
					</div>
					<div class="flex flex-col gap-0 py-6 px-6 sm:py-8 sm:px-10">
						<div class="flex flex-col gap-0"> 
							<div class="flex gap-x-2 mr-auto">
								<div class="justify-self-end text-l tracking-tight text-secondary">Folio</div>
							</div>
							<div class="flex gap-x-2 mr-auto mb-4">
								<div class="text-2xl sm:text-3xl">{{dataSource?.name}}</div>
							</div>
						</div>
						<form class="grid grid-cols-2 mt-2 gap-5" [formGroup]="datos">
							<div class="flex">
								<mat-form-field class="flex-auto" subscriptSizing="dynamic">
									<mat-label>Origen de recursos</mat-label>
									<input matInput name="payment_type_name" formControlName="payment_type_name" placeholder="Origen de recursos" disabled="true">
								</mat-form-field>
							</div>

							<div class="flex">
								<mat-form-field class="flex-auto" subscriptSizing="dynamic">
									<mat-label>Fecha del gasto</mat-label>
									<input matInput name="date" formControlName="date" placeholder="Fecha del gasto" disabled="true"
										[ngStyle]="{'width': (datos.get('date').value?.length > 8 ? '80px' : 'auto')}">
								</mat-form-field>
							</div>

							<div class="flex">
								<mat-form-field class="flex-auto" subscriptSizing="dynamic">
									<mat-label>Línea relacionada</mat-label>
									<input matInput type="email" name="line_id" formControlName="line_id" placeholder="Línea relacionada"
										disabled="true">
								</mat-form-field>
							</div>

							<div class="flex">
								<mat-checkbox formControlName="cfdi_analysis_check" [ngClass]="{'custom-checkbox': true}" color="secondary">¿Análisis
									correcto del archivo? </mat-checkbox>
								<!-- <mat-form-field class="flex-auto" subscriptSizing="dynamic">
																<mat-label>Proveedor relacionado</mat-label>
																<input matInput name="partner_id" formControlName="partner_id" placeholder="Proveedor relacionado"
																	disabled="true">
															</mat-form-field> -->
							</div>


							<div class="flex">
								<mat-form-field class="flex-auto" subscriptSizing="dynamic">
									<mat-label>Concesionario</mat-label>
									<input matInput name="concesionario_id" formControlName="concesionario_id" placeholder="Origen"
									disabled="true">
								</mat-form-field>
							</div>

							<div class="flex" >
								<mat-form-field class="flex-auto" subscriptSizing="dynamic" *ngIf="estado === 'Rechazado'">
									<mat-label>Motivo de rechazo</mat-label>
									<input matInput name="reject_reason" formControlName="reject_reason" placeholder="Motivo de rechazo"
										disabled="true">
								</mat-form-field>
							</div>

							<div class="flex">
								<mat-form-field class="flex-auto" subscriptSizing="dynamic">
									<mat-label>Proveedor relacionado</mat-label>
									<input matInput name="partner_id" formControlName="partner_id" placeholder="Proveedor relacionado"
										disabled="true">
								</mat-form-field>
							</div>

						</form>

						<div class="flex mt-6 sm:mt-8 ">
							<mat-tab-group class="w-full px-0" mat-stretch-tabs="false" [animationDuration]="'0'">
								<mat-tab class="color_blue" label="Detalle">
									<ng-template matTabContent >
										<mat-table class="max-h-auto hidden sm:contents" #table [dataSource]="products" matSort fusePerfectScrollbar>
											<ng-container *ngFor="let colum of tableColumns" [matColumnDef]="colum.id">
												<mat-header-cell *matHeaderCellDef mat-sort-header>{{colum.name}}</mat-header-cell>
												<mat-cell *matCellDef="let element">
													<ng-container *ngIf="colum.id === 'price_subtotal' || colum.id === 'price_unit'">
														{{ getColumnValue(element, colum.key) | currency:'USD':'symbol' }}
													</ng-container>
													<ng-container *ngIf="colum.id !== 'price_subtotal' && colum.id !== 'price_unit'">
														{{ getColumnValue(element, colum.key) }}
													</ng-container>
												</mat-cell>
											</ng-container>

											<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

											<ng-container>
												<mat-row *matRowDef="let element; columns: displayedColumns;" class="product" matRipple>
												</mat-row>
											</ng-container>
										</mat-table>

										<div class="content-table hidden sm:contents">
											<table class="simple invoice-table-footer">
												<tbody>
													<tr class="subtotal">
														<td>SUBTOTAL</td>
														<td>{{dataSource?.amount_untaxed | currency:'USD':'symbol'}}</td>
													</tr>
													<tr class="tax">
														<td>IMPUESTOS</td>
														<td>{{dataSource?.amount_tax | currency:'USD':'symbol'}}</td>
													</tr>
													<tr class="total">
														<td>TOTAL</td>
														<td>{{dataSource?.amount_total | currency:'USD':'symbol'}}</td>
													</tr>
												</tbody>
											</table>
										</div>

									</ng-template>
								</mat-tab>


								<mat-tab *ngIf="showDoc" class="color_blue" label="Archivos adjuntos">
									<div class="read-file" *ngIf="dataSource?.cfdi_pdf_binary_filename">
										<p class="read-file-title">
											<mat-icon class="aprove-icon">attach_file</mat-icon>
											Documento PDF:
										</p>
										<a class="file-name" href="{{ dataSource?.cfdi_pdf_binary }}" target=”_blank”>{{ dataSource?.cfdi_pdf_binary_filename }}</a>
									</div>
									<div class="read-file" *ngIf="dataSource?.cfdi_binary_filename">
										<p class="read-file-title">
											<mat-icon class="aprove-icon">attach_file</mat-icon>
											Documento XML:
										</p>
										<a class="file-name" href="{{ dataSource?.cfdi_binary }}" target=”_blank”> {{ dataSource?.cfdi_binary_filename }}</a>
									</div>
									<div class="read-file" *ngIf="dataSource?.cfdi_analysis_file">
										<div *ngIf="file_analysis_result" [innerHTML]="file_analysis_result"></div>
									</div>

								</mat-tab>
							</mat-tab-group>
						</div>


						<div class="flex flex-col">

							<mat-list role="list" class="contents sm:hidden">
								<mat-list-item role="listitem" *ngFor="let data of products" class="h-auto mx-0">
									<div class="info-container py-5">
										<div class="information">
											<h4 class="text-base font-bold">Descripción: <span class="font-normal text-wrap">{{data.name}}</span></h4>
											<h5 class="text-base font-bold">Cantidad: <span class="font-normal">{{data.quantity}}</span></h5>
											<h5 class="text-base font-bold">Precio unitario: <span class="font-normal">{{data.price_unit | currency:'USD':'symbol'}}</span></h5>
											<h5 class="text-base font-bold">Subtotal: <span class="font-normal">{{data.price_subtotal | currency:'USD':'symbol'}}</span></h5>
										</div>
									</div>
								</mat-list-item>
								<div class="content-table contents mx-0">
									<table class="simple invoice-table-footer mx-0">
										<tbody>
											<tr class="subtotal">
												<td>SUBTOTAL</td>
												<td>{{dataSource?.amount_untaxed | currency:'USD':'symbol'}}</td>
											</tr>
											<tr class="tax">
												<td>IMPUESTOS</td>
												<td>{{dataSource?.amount_tax | currency:'USD':'symbol'}}</td>
											</tr>
											<tr class="total">
												<td>TOTAL</td>
												<td>{{dataSource?.amount_total | currency:'USD':'symbol'}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</mat-list>
						</div>
					</div>
				</div>
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>