<div class="flex flex-col flex-auto min-w-0">

	<!-- Header -->
	<div class="bg-card">
		<div class="profile-tabs flex w-full max-w-screen-xl mx-auto px-6 sm:px-8">
			<!-- Project selector -->
			<div class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
				[ngClass]="[profile !== 'personal' ? 'white-tab' : '']" matRipple (click)="changeTab('personal')">
				<div class="flex items-center">
					<div class="overflow-hidden">
						<div class="font-medium leading-6 truncate">Perfil personal</div>
					</div>
				</div>
			</div>
			<div class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
				[ngClass]="[profile !== 'company' ? 'white-tab' : '']" matRipple (click)="changeTab('company')">
				<div class="flex items-center">
					<div class="overflow-hidden">
						<div class="font-medium leading-6 truncate">Perfil de empresa</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main -->
	<div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
		<div class="w-full max-w-screen-xl mx-auto">
			<app-profile-personal *ngIf="profile == 'personal'"></app-profile-personal>
			<app-profile-company *ngIf="profile == 'company'"></app-profile-company>
		</div>
	</div>
</div>