<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
	<mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">
		<mat-drawer class="w-72 dark:bg-gray-900" [autoFocus]="false" [mode]="'over'" [position]="'end'" #matDrawer>
			<app-filter-sidebar [orderState]="orderState" [type]="type" [orderExpense]="orderExpense" [orderPayment]="orderPayment" [filters]="filters" [fatherSearchFilters]="temporalSearchFilters" (form)="closeFilters($event)"></app-filter-sidebar>
		</mat-drawer>
		<mat-drawer-content class="flex flex-col">
			<!-- Header -->
			<div
				class="flex flex-col sm:flex-col md:flex-col justify-between py-8 px-6 border-b bg-default dark:bg-transparent">
				<!-- Title -->
				<div>
					<div class="flex justify-center sm:justify-normal text-4xl font-extrabold tracking-tight leading-non">Finanzas</div>
					<div class="ml-0.5 font-medium text-secondary">
						<!-- <ng-container *ngIf="contactsCount > 0">
								{{contactsCount}}
							</ng-container>
							{{contactsCount | i18nPlural: {
							'=0' : 'No contacts',
							'=1' : 'contact',
							'other': 'contacts'
							} }} -->
					</div>
				</div>
				<!-- Main actions -->
				<div class="flex items-center mt-4 flex-row">
					<!-- Search -->
					<div class="flex-auto">
						<mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
							subscriptSizing="dynamic">
							<mat-icon class="icon-size-5" matPrefix
								[svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
							<input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
								[placeholder]="'Buscar contraprestaciones'">
						</mat-form-field>
					</div>
					<!-- Add contact button -->
					<button class="ml-2 sm:ml-4 bg_color_blue" *ngIf="desktop" mat-flat-button  (click)="matDrawer.toggle()">
						<mat-icon [svgIcon]="'heroicons_outline:adjustments-horizontal'"></mat-icon>
						<span  class="ml-2 mr-1">Filtros</span>
					</button>
					<button class="ml-2 sm:ml-4 border-solid border-primary border text-primary" *ngIf="!desktop" mat-flat-button
						(click)="matDrawer.toggle()">
						<mat-icon [svgIcon]="'heroicons_outline:adjustments-horizontal'"></mat-icon>
					</button>
				</div>

				<!-- Mostrar filtros aplicados -->
				<div>
					<div class="font-medium mt-2">
						<!-- Indicadores para los filtros -->
						<mat-chip-listbox>
							<!-- Busqueda rapida -->
							<mat-chip [style.background-color]="temporalSearchFilters.colors.search" [style.color]="'#FFFFFF'" class="flex items-center h-auto" *ngIf="temporalSearchFilters.search !== '' && enableQuickFilter" [selectable]="false"
								[removable]="true" (removed)="removeFilter('search')">
								<span class="flex text-wrap">{{'Búsqueda rápida: '}}{{temporalSearchFilters.search}}</span>
								<button matChipRemove>
									<mat-icon>cancel</mat-icon>
								</button>
							</mat-chip>

							<!-- Busqueda por filtros abanzados -->
							<!-- estado -->
							<mat-chip [style.background-color]="temporalSearchFilters.colors.state" [style.color]="'#FFFFFF'" 
								class="flex items-center h-auto" *ngIf="temporalSearchFilters.date != '' && enableAdvancedFilters"
								[selectable]="false" [removable]="true" (removed)="removeFilter('date')">
								<span class="flex text-wrap">{{'Búsqueda por orden: '}}{{getName(temporalSearchFilters.date, 'date')}}</span>
								<!-- <button matChipRemove>
									<mat-icon>cancel</mat-icon>
								</button> -->
							</mat-chip>

							<mat-chip [style.background-color]="temporalSearchFilters.colors.state" [style.color]="'#FFFFFF'" class="flex items-center h-auto" *ngIf="temporalSearchFilters.state.length > 0 && enableAdvancedFilters" [selectable]="false"
								[removable]="true" (removed)="removeFilter('state')">
								<span class="flex text-wrap">{{'Búsqueda por estado: '}}{{getName(temporalSearchFilters.state, 'state')}}</span>
								<button matChipRemove>
									<mat-icon>cancel</mat-icon>
								</button>
							</mat-chip>

							<mat-chip [style.background-color]="temporalSearchFilters.colors.expense_type" [style.color]="'#FFFFFF'" class="flex items-center h-auto" *ngIf="temporalSearchFilters.expense_type.length > 0 && enableAdvancedFilters"
								[selectable]="false" [removable]="true" (removed)="removeFilter('expense_type')">
								<span  class="flex text-wrap">{{'Búsqueda por tipo de gasto: ' + getName(temporalSearchFilters.expense_type, 'expense')}}</span>
								<button matChipRemove>
									<mat-icon>cancel</mat-icon>
								</button>
							</mat-chip>

							<mat-chip [style.background-color]="temporalSearchFilters.colors.payment_type" [style.color]="'#FFFFFF'"
								class="flex items-center h-auto" *ngIf="temporalSearchFilters.payment_type.length > 0 && enableAdvancedFilters"
								[selectable]="false" [removable]="true" (removed)="removeFilter('payment_type')">
								<span class="flex text-wrap">{{'Búsqueda por tipo de gasto: ' + getName(temporalSearchFilters.payment_type, 'payment')}}</span>
								<button matChipRemove>
									<mat-icon>cancel</mat-icon>
								</button>
							</mat-chip>
						</mat-chip-listbox>
					</div>
				</div>

				<div class="flex justify-between mt-4">
					<div class="flex flex-1 justify-between sm:hidden">
						<a (click)="onPageChange(-1)"
							class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Anterior</a>
						<div class="flex flex-col w-auto">
							<p class="text-sm text-gray-700 text-center">
								Mostrando
							</p>
							<p class="text-sm text-gray-700 text-center">
								<span class="font-medium">{{ considerationsPaginadas?.length }}</span>
								de
								<span class="font-medium">{{ numTotal }}</span>
							</p>
							<p class="text-sm text-gray-700 text-center">
								Resultados
							</p>
						</div>
						<a (click)="onPageChange('s')"
							class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Siguiente</a>
					</div>
					<div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
						<div>
							<p class="text-sm text-gray-700">
								Mostrando
								<span class="font-medium">{{ considerationsPaginadas?.length }}</span>
								de
								<span class="font-medium">{{ numTotal }}</span>
								Resultados
							</p>
						</div>
						<div>
							<nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
								<!-- control de retroceder -->
								<a (click)="onPageChange(-1)"
									class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
									<span class="sr-only">Anterior</span>
									<svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path fill-rule="evenodd"
											d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
											clip-rule="evenodd" />
									</svg>
								</a>

								<ng-container *ngFor="let pages of pagination">
									<!-- numeraciones -->
									<a (click)="onPageChange(pages)" *ngIf="pages != 'md'" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold focus:z-20 bg_color_blue"
										[class.bg-primary]="pages === page" [class.text-white]="pages === page"
										[class.text-gray-900]="pages !== page" [class.hover:bg-gray-50]="pages !== page" [class.ring-1]="pages !== page" [class.ring-inset]="pages !== page" [class.ring-gray-300]="pages !== page"
										[class.focus:outline-offset-0]="pages !== page" [class.focus:outline-offset-0]="pages !== page">
										{{ pages }}
									</a>

									<span *ngIf="pages === 'md'"
										class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span>

								</ng-container>

								<!-- control de avanzar -->
								<a (click)="onPageChange('s')"
									class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
									<span class="sr-only">Siguiente</span>
									<svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
										<path fill-rule="evenodd"
											d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
											clip-rule="evenodd" />
									</svg>
								</a>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-auto  rounded-t-2xl shadow overflow-y-auto" cdkScrollable>
				<app-considerations-table *ngIf="desktop" [orders]="considerationsPaginadas"></app-considerations-table>
				<app-considerations-target *ngIf="mobile" [orders]="considerationsPaginadas"></app-considerations-target>
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>