<div>
	<ol class="hidden md:grid items-center border color_blue grid-flow-col">
		<!--Estados que ya pasaron-->
		<div *ngFor="let estado of states; let i = index; let last = last">
			<li *ngIf="estado.name != st && i < getState(st)" class="flex relative w-auto h-10 sm:w-28 lg:w-36 xl:w-46 sm:h-14">
				<a class="flex items-center font-medium px-2 py-2 w-full">
					<span
						class=" bg-[#EEEEEE] border color_blue rounded-full flex justify-center items-center ml-3 mr-3 text-sm text-primary w-10 h-6 lg:h-7 ">{{i+1}}</span>
					<h4 class="sm:flex sm:text-sm  sm:text-gray-900 sm:w-12 lg:w-30 h-10 items-center text-balance truncate ...">{{estado.name}}</h4>
				</a>
				<div *ngIf="!last   && (breakpointObserver.isMatched('(min-width: 960px)'))"
					class="arrow-class color_blue bg-white"></div>
				<div *ngIf="!last   && !(breakpointObserver.isMatched('(min-width: 960px)'))"
					class="arrow-class-line color_blue bg-white"></div>
			</li>

			<!--Punto donde esta el estado actualmente-->
			<li *ngIf="estado.name === st" class="flex relative w-auto h-10 sm:w-28 lg:w-36 xl:w-46 sm:h-14">
				<a class="flex items-center font-medium px-2 py-2 w-full bg-[#EEEEEE]">
					<span
						class=" bg-primary rounded-full flex justify-center items-center ml-3 mr-3 bg_color_blue text-sm w-10 h-6 lg:h-7 ">{{i+1}}</span>

					<h4 class="sm:flex sm:text-sm sm:text-primary color_blue sm:w-12 lg:w-30 h-10 items-center text-balance truncate ...">{{estado.name}}</h4>
				</a>
				<div *ngIf="!last   && (breakpointObserver.isMatched('(min-width: 960px)'))"
					class="arrow-class color_blue bg-[#EEEEEE]"></div>
				<div *ngIf="!last   && !(breakpointObserver.isMatched('(min-width: 960px)'))"
					class="arrow-class-line color_blue bg-[#EEEEEE]"></div>
			</li>

			<!--Estados que faltan por pasar-->
			<li *ngIf="!button && estado.name != st && i > getState(st)" class="flex relative w-auto h-10 sm:w-28 lg:w-36 xl:w-46 sm:h-14">
				<a class="flex items-center font-medium px-2 py-2 w-full">
					<span
						class=" bg-[#EEEEEE] border color_blue rounded-full flex justify-center items-center ml-3 mr-3 text-sm text-primary w-10 h-6 lg:h-7 ">{{i+1}}</span>
					<h4 class="sm:flex sm:text-sm  sm:text-gray-900 sm:w-12 lg:w-30 h-10 items-center text-balance truncate ...">{{estado.name}}</h4>
				</a>
				<div *ngIf="!last  && (breakpointObserver.isMatched('(min-width: 960px)'))"
					class="arrow-class color_blue"></div>
				<div *ngIf="!last  && !(breakpointObserver.isMatched('(min-width: 960px)'))"
					class="arrow-class-line color_blue"></div>
			</li>

			<li *ngIf="button && estado.name != st && i > getState(st) && i < 3"
				class="flex xl:hidden relative w-auto h-10 sm:w-28 lg:w-36 xl:w-46 sm:h-14">
				<a class="flex items-center font-medium px-2 py-2 w-full">
					<span
						class=" bg-[#EEEEEE] border color_blue rounded-full flex justify-center items-center ml-3 mr-3 text-sm text-primary w-10 h-6 lg:h-7 ">{{i+1}}</span>
					<h4 class="sm:flex sm:text-sm  sm:text-gray-900 sm:w-12 lg:w-30 h-10 items-center text-balance truncate ...">{{estado.name}}</h4>
				</a>
				<div *ngIf="!last  && (breakpointObserver.isMatched('(min-width: 960px)'))" class="arrow-class color_blue bg-white">
				</div>
				<div *ngIf="!last  && !(breakpointObserver.isMatched('(min-width: 960px)'))"
					class="arrow-class-line color_blue bg-[#EEEEEE]"></div>
			</li>
			<!-- Espacio en blanco -->
			<button *ngIf="button &&  i === 3" [matMenuTriggerFor]="menu2"
				class="flex xl:hidden items-center relative w-15 h-14 bg-white hover:bg-gray-300  cursor-pointer">
				<a class="flex items-center font-medium px-2 py-2 w-15">
					<h4 class="flex text-sm text-center text-gray-900 w-12 pl-5">...</h4>
				</a>
			</button>
			<mat-menu #menu2="matMenu">
				<button mat-menu-item *ngFor="let estado of states.slice(-2)" class="cursor-auto hover:bg-white">
					<span>{{ estado.name }}</span>
				</button>
			</mat-menu>

			<li *ngIf="button && estado.name != st && i > getState(st)"
				class="hidden xl:flex relative w-auto h-10 sm:w-28 lg:w-36 xl:w-46 sm:h-14">
				<a class="flex items-center font-medium px-2 py-2 w-full">
					<span
						class=" bg-[#EEEEEE] border color_blue rounded-full flex justify-center items-center ml-3 mr-3 text-sm text-primary w-10 h-6 lg:h-7 ">{{i+1}}</span>
					<h4 class="sm:flex sm:text-sm  sm:text-gray-900 sm:w-12 lg:w-30 h-10 items-center text-balance truncate ...">{{estado.name}}</h4>
				</a>
				<div *ngIf="!last  && (breakpointObserver.isMatched('(min-width: 960px)'))" class="arrow-class color_blue">
				</div>
				<div *ngIf="!last  && !(breakpointObserver.isMatched('(min-width: 960px)'))"
					class="arrow-class-line color_blue"></div>
			</li>
		</div>
	</ol>

	<div class="hidden sm:flex md:hidden text-primary">
		<button [matMenuTriggerFor]="menu" class="flex items-center font-sm py-2 px-2 bg-[#EEEEEE] border rounded-sm color_blue">
			<span class="flex items-center pl-2" (click)="buttonMenu()">
				{{ st }}
			</span>
			<mat-icon class="text-primary" *ngIf="!arrow">keyboard_arrow_down</mat-icon>
			<mat-icon class="text-primary" *ngIf="arrow">keyboard_arrow_up</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item *ngFor="let estado of states" class="cursor-auto hover:bg-white">
				<mat-icon *ngIf="estado.name === st" class="text-base mr-2 font-semibold">done</mat-icon>
				<span *ngIf="estado.name === st" class="font-semibold ">
					{{ estado.name }}
				</span>
				<mat-icon *ngIf="estado.name !== st" class="text-white text-base mr-2">done</mat-icon>
				<span *ngIf="estado.name !== st">
					{{ estado.name }}
				</span>
			</button>
		</mat-menu>
	</div>
</div>