.arrow-class-line {
	content: "";
	width: 19%;
	height: 59%;
	border-bottom: 1px solid transparent;
	border-left: 1px solid;
	position: absolute;
	right: -8px;
	top: 21%;
	transform: rotate(205deg) skewY(37.5deg);
	z-index: 10
}

.arrow-class {
	content: "";
	width: 13%;
	height: 53%;
	border-bottom: 1px solid transparent;
	border-left: 1px solid;
	position: absolute;
	right: -8px;
	top: 21%;
	transform: rotate(205deg) skewY(37.5deg);
	z-index: 10
}

.icon-wrapper {
	display: inline-block;
	transform: scale(0.6);
}
.bg_color_blue {
	background-color: #5d8da8 !important;
	color: #fff !important;
}

.color_blue {
	color: #5d8da8 !important;
	border-color: #5d8da8 !important;

}

.border_color_blue {
	border-color: #5d8da8 !important;
}