.footer-button{
	margin-left: auto;
}

.mdc-list {
	padding: 8px 1em;
}

mat-list-item:nth-child(n) {
	height: auto;
}

mat-list-item {
	background: white;
	border-radius: 0.5rem;
	border: 1px solid #BABABA;
	margin: 0.5rem 1rem;
}

.info-container {
	display: grid;
	grid-template-areas:
		'title'
		'info';
	gap: 1px 5px;
	width: 100%;
	padding: 0.2rem 0.5rem;

	h6 {
		font-size: 0.5rem;
		margin: 0.5rem 1rem;
	}

	h5 {
		font-size: 0.7rem;
		margin: 0;
	}

	h4 {
		font-size: 0.8rem;
		margin: 0;
	}

	.title {
		grid-area: title;
		border-bottom: 1px solid grey;

		.order-numero {
			span {
				font-weight: bold;
				font-size: 1rem;
			}
		}
	}
}

mat-list-item:nth-child(1){
	margin-top: 0;
}

.mat-mdc-row .mat-mdc-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
	background-color: #F5F5F5;
}

.bg_color_blue {
	background-color: #5d8da8 !important;
	color: #fff !important;
}

.color_blue {
	color: #5d8da8 !important;
}