<div class="flex flex-col flex-auto min-w-0">
	<!-- Actions bar -->
	<div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 sm:py-5 sm:px-10 border-b bg-card dark:bg-transparent">
		<div class="flex-1 min-w-0">
			<div class="flex gap-2">
				<button class="rounded bg_color_blue" mat-flat-button  *ngIf="!editMode" (click)="editProfile()">Editar</button>
				<button class="rounded" mat-flat-button color="accent" *ngIf="!editMode" (click)="editPassword()">Cambiar contraseña</button>
				<button class="rounded bg_color_blue" mat-flat-button  *ngIf="editMode" (click)="updateProfile()">Guardar</button>
				<button class="rounded" mat-flat-button color="accent" *ngIf="editMode" (click)="discardChanges()">Descartar</button>
			</div>
		</div>
	</div>
	<!-- Content -->
	<div class="flex-auto py-4 px-6 sm:py-8 sm:px-10">
		<!-- Forms -->
		<div class="h-300 min-h-300 bg-card rounded-2xl shadow">
			<div class="flex flex-col gap-0 py-6 px-6 sm:py-8 sm:px-10">
				<div class="flex flex-col sm:flex-row">
					<div class="flex w-full items-center justify-center sm:w-1/2 md:w-2/5">
						<div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card sm:w-50 sm:h-50 md:w-60 md:h-60">
							<!-- Upload / Remove avatar -->
							<div class="absolute inset-0 bg-black bg-opacity-50 z-10" *ngIf="editMode"></div>
							<div class="absolute inset-0 flex items-center justify-center z-20" *ngIf="editMode">
								<div>
									<input
										id="avatar-file-input"
										class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
										type="file"
										[multiple]="false"
										[accept]="'image/jpeg, image/png'"
										(change)="uploadAvatar(avatarFileInput.files)"
										#avatarFileInput>
									<label
										class="flex items-center justify-center w-12 h-12 rounded-full cursor-pointer hover:bg-hover sm:w-15 sm:h-15 md:w-20 md:h-20"
										for="avatar-file-input"
										matRipple>
										<mat-icon class="text-white w-9 h-9 sm:w-12 sm:h-12 md:w-15 md:h-15" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
									</label>
								</div>
							</div>
							<!-- Image/Letter -->
							<img class="object-cover w-full h-full" *ngIf="userForm.value.avatar && !userForm.value.avatar.includes('http')" [src]="'data:image/png;base64,'+userForm.value.avatar">
							<img class="object-cover w-full h-full" *ngIf="userForm.value.avatar.includes('http')" [src]="userForm.value.avatar">
							<div class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200 sm:text-9xl md:text-10xl" *ngIf="!userForm.value.avatar">
								{{profileData?.name.charAt(0)}}
							</div>
						</div>
					</div>
					<div class="flex w-full sm:w-1/2 md:w-3/5">
						<form class="flex flex-col w-full" [formGroup]="userForm">
							<div class="flex flex-col gap-0">
								<mat-form-field class="flex-auto" [ngClass]="{'required-field-edit': editMode}" subscriptSizing="dynamic">
									<mat-label floatlLabel="never">Nombre</mat-label>
									<input matInput type="text" formControlName="name" [placeholder]="'CDMX'" disabled="true">
									<mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon>
								</mat-form-field>
								<ng-container *ngFor="let validation of validationMessages.name">
									<mat-error *ngIf="userForm.get('name').hasError(validation.type) && (userForm.get('name').dirty || userForm.get('name').touched) && editMode">
										{{ validation.message }}
									</mat-error>
								</ng-container>
							</div>
							<div class="flex mt-4">
								<mat-form-field class="flex-auto" subscriptSizing="dynamic" [ngClass]="{'read-only-field-edit': editMode}">
									<mat-label>Correo electrónico</mat-label>
									<input matInput type="email" formControlName="email" [placeholder]="'mail@https://www.metrobus.cdmx.gob.mx'" disabled="true">
									<mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
								</mat-form-field>
							</div>
							<div class="flex flex-col gap-0 mt-4">
								<mat-form-field class="flex-auto" [ngClass]="{'required-field-edit': editMode}" subscriptSizing="dynamic">
									<mat-label>Teléfono</mat-label>
									<input matInput type="tel" formControlName="phone" [placeholder]="'5555555555'"  [required]="editMode" [readonly]="!editMode">
									<mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
								</mat-form-field>
								<ng-container *ngFor="let validation of validationMessages.phone">
									<mat-error *ngIf="userForm.get('phone').hasError(validation.type) && (userForm.get('phone').dirty || userForm.get('phone').touched) && editMode">
										{{ validation.message }}
									</mat-error>
								</ng-container>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>