<div class="close-button" (click)="onNoClick()" *ngIf="data.close">
	<mat-icon class="icon-size-8" color="black" [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
</div>
<h2 class="dialog-title text-lg sm:text-3xl p-0 sm:pt-2 sm:px-8" mat-dialog-title>{{data.message}}</h2>
<fuse-alert class="error-label title-error p-0 sm:pb-3 sm:px-8" *ngIf="generalError" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
	[@shake]="alert.type === 'error'">
	{{alert.message}}
</fuse-alert>
<mat-dialog-content class="pop-up-content p-0 sm:pb-8 sm:px-8" >
	<form class="mt-8" [formGroup]="firstStepForm" #signInNgForm="ngForm" *ngIf="data.type === 'step-one'">
		<!-- Password field -->
		<mat-form-field class="w-full my-4 no-margin-top" subscriptSizing="dynamic">
			<mat-label>Contraseña actual</mat-label>
			<input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
			<button mat-icon-button type="button"
				(click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
				matSuffix>
				<mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
					[svgIcon]="'heroicons_solid:eye'"></mat-icon>
				<mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
					[svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
			</button>
			<mat-error>
				La contraseña es obligatoria
			</mat-error>
		</mat-form-field>
		<div class="footer-botton-container">
			<div class="hidden sm:contents">
				<button class="fuse-mat-button-large w-full mt-6 text-white second-step-button" mat-flat-button [color]="'primary'"
					(click)="nextStep()">
						Enviar
				</button>
			</div>
			<div class="contents sm:hidden">
				<button class="fuse-mat-button-large w-full mt-6 text-white" mat-flat-button [color]="'primary'"
					(click)="nextStep()">
					Enviar
				</button>
			</div>
		</div>
	</form>
	<div class="new-password-container" *ngIf="data.type === 'step-two' || data.type === 'step-one-two' || data.type === 'change-password'">
		<form [formGroup]="secondStepForm" #signInNgForm="ngForm">
			<mat-form-field class="w-full my-4" subscriptSizing="dynamic">
				<mat-label>Nueva contraseña</mat-label>
				<input id="password" matInput type="password" [formControlName]="'password'" #passwordField>
				<button mat-icon-button type="button"
					(click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
					matSuffix>
					<mat-icon class="icon-size-5 font-primary" *ngIf="passwordField.type === 'password'"
						[svgIcon]="'heroicons_solid:eye'"></mat-icon>
					<mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
						[svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
				</button>
				<mat-error>
					La contraseña es obligatoria
				</mat-error>
			</mat-form-field>
			<mat-form-field class="w-full my-4" subscriptSizing="dynamic">
				<mat-label>Confirmar contraseña</mat-label>
				<input id="password_confirm" matInput type="password" [formControlName]="'password_confirm'" #oldPasswordField>
				<button mat-icon-button type="button"
					(click)="oldPasswordField.type === 'password' ? oldPasswordField.type = 'text' : oldPasswordField.type = 'password'"
					matSuffix>
					<mat-icon class="icon-size-5" *ngIf="oldPasswordField.type === 'password'"
						[svgIcon]="'heroicons_solid:eye'"></mat-icon>
					<mat-icon class="icon-size-5" *ngIf="oldPasswordField.type === 'text'"
						[svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
				</button>
				<mat-error>
					La confirmación es obligatoria
				</mat-error>
			</mat-form-field>
		</form>
	</div>
	<div *ngIf="data.type !== 'step-one'">
		<p>
			Ingrese el código de verificación que enviamos a su correo.
		</p>
	</div>
	<div class="code-container mt-5" *ngIf="data.type !== 'step-one'">
		<div>
			<code-input [isCodeHidden]="false" [isCharsCode]="true" [codeLength]="6" (codeChanged)="onCodeChanged($event)"
				(codeCompleted)="onCodeCompleted($event)"></code-input>
		</div>
		<div class="resend-code-container">
			<p *ngIf="!resendCode">
				Espere para reenviar el código
			</p>
			<app-circle-timer #timer [duration]="duration" (onComplete)="onTimerComplete()"
				*ngIf="!resendCode"></app-circle-timer>
			<div class="blank-space-resend-code" *ngIf="resendCode">
				<p class="text-clickable-hover" (click)="resendVerificationCode()">
					Reenviar código
				</p>
			</div>
		</div>
	</div>
	<div *ngIf="data.type !== 'step-one'" class="footer-botton-container">
		<div class="hidden sm:contents">
			<button class="fuse-mat-button-large w-full mt-6 text-white second-step-button" mat-flat-button [color]="'primary'" (click)="confirm()">
				Enviar
			</button>
		</div>
		<div class="contents sm:hidden">
			<button class="fuse-mat-button-large w-full mt-6 text-white" mat-flat-button [color]="'primary'" (click)="confirm()">
				Enviar
			</button>
		</div>
	</div>
</mat-dialog-content>
<!-- <mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cerrar</button>
	<button [ngClass]="resendCode ? '' : 'resend-code-button-disabled'" mat-button
		(click)="resendVerificationCode()">Reenviar código</button>
</mat-dialog-actions> -->