.resend-code-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1.3rem 0 0;

	app-circle-timer {
		margin-bottom: 0.5rem;
	}

	.active-resend {
		pointer-events: all !important;
		font-weight: 500;
	}
}

.dialog-title {
	font-weight: 500 !important;
	font-size: 25px;
	max-width: 38rem;
	text-align: justify;
}

.form-container {
	padding: 2rem 0 1rem 0;

	code-input {
		--color: var(--ion-color-primary);
		--item-border-bottom-focused: 2px solid var(--ion-color-primary);
		--item-height: 12vw;
		--item-font-weight: 500;
		--item-spacing: 1vw;
		font-size: 20px;
	}

	width: 50vw;
	margin: 0 auto;
}
.form-container-xs {
	padding: 2rem 0 1rem 0;

	code-input {
		--color: var(--ion-color-primary);
		--item-border-bottom-focused: 2px solid var(--ion-color-primary);
		--item-height: 6rem;
		--item-font-weight: 500;
		--item-spacing: 2px;
		font-size: 30px;
	}

	width: 10rem;
}

.resend-code-button-disabled {
	background-color: #D1D1D1;
	color: #818181;
	pointer-events: none;
}

.blank-space-resend-code {
	height: 8.25rem;
	font-size: 1.1rem;
}

.second-step-button{
	width: 30% !important;
	margin: 0 1.5% !important;
	padding-left: auto !important;
}

.error-label {
	color: #de3726;
	height: 52px;
	font-size: 15px;
}

.footer-botton-container{
	text-align: right;
}

.text-clickable-hover:hover{
	cursor: pointer;
	color: var(--ion-color-primary);
}

.title-error{
	padding: var(--mat-dialog-headline-padding, 0 24px 9px);
}

.no-margin-top{
	margin-top: 0!important;
}


.close-button{
	text-align: right;
	font-weight: 900;
	color: black;
}

.close-button:hover{
	cursor: pointer;
}