.title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 5px;
}

.content {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 15px;
}

.btn-close mat-icon {
	display: flex !important;
	align-items: center;
	background: none;
	border: none;
	color: #4f46e5;
	font-size: 18px;
	cursor: pointer;
	padding: 0 2px;
}

.btn-close mat-icon:hover {
	color: darkred;
}

.read-file {
	display: flex;
	align-items: center;
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.file-name {
	margin-left: 5px;
	margin-right: 5px;
	text-decoration-color: #4f46e5;
	color: #4f46e5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.read-file-title {
	display: flex;
	align-items: center;


	.aprove-icon {
		display: flex;
		align-items: center;
		color: #74b82f;
		font-size: 18px;
		padding: 0 2px;
	}

	.add-icon-file {
		display: flex;
		align-items: center;
		font-size: 18px;
		padding: 0 2px;
	}
}

.add-file-name {
	display: flex;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	color: #4f46e5;
	border: 1px solid #64748b;
	background-color: #d4d7db;
	border-radius: 11px;
	padding-left: 5px;

	.add-icon {
		display: flex;
		align-items: center;
		background: none;
		border: none;
		color: #4f46e5;
		font-size: 18px;
		cursor: pointer;
		padding: 0 5px;
	}
}

.file-name:hover {
	cursor: default;
}

.read-file-title {
	margin-right: 5px;
	font-weight: 500;
}

.name-file {
	display: flex;
	align-items: center;
	border: 1px solid #4f46e5;
	background-color: #eef2ff;
	border-radius: 11px;
	padding-left: 5px;
	padding-right: 5px;
}

.buttons {
	display: flex;
	direction: rtl;
	margin-top: 10px;
	cursor: pointer;

	.button-cancel {
		background-color: #d4d7db;
		border: 1px solid #64748b;
	}

	.button-cancel:hover {
		background-color: #64748b;
		color: white;
	}

	.button-acept {
		margin-right: 10px;
		color: #4f46e5;
		background-color: #eef2ff;
		border: 1px solid #4f46e5;
	}

	.button-acept:hover {
		background-color: #4f46e5;
		color: white;
	}
}

.send-button {
	padding-top: 2rem;
}