<mat-dialog-content>
    <h2> Confirmación de contraprestación </h2>
    <h3> Antes de enviar su factura, ¿Desea agregar algun comentario? </h3>
    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p zs-form-field-required">
        <mat-label>Comentarios...</mat-label>
        <textarea matInput (input)="onInputChange($event.target.value)" placeholder="Ingrese su texto"
            rows="4"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="actions-profile-editar" align="end">
    <button mat-button class="action action-outline" (click)="onCancel()">Cancelar</button>
    <button mat-button class="action action-filled" (click)="onAccept()">Aceptar</button>
</mat-dialog-actions>