<div id="contraprestaciones" class="page-layout simple left-sidebar inner-sidebar inner-scroll general-list">
	<div class="content">
		<div class="card-table" fxFlex>


			<mat-table class="min-h-lvh max-h-auto" #table [dataSource]="dataSource" matSort fusePerfectScrollbar>

				<!-- Definir las columnas -->
				<ng-container *ngFor="let colum of tableColumns" [matColumnDef]="colum.id">
					<mat-header-cell *matHeaderCellDef mat-sort-header="{{ colum.id }}">
						{{ colum.name }}
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<ng-container class="border-spacing-x-2.5" *ngIf="colum.id === 'state_name'">
							<mat-chip [style.background-color]="element.state_color"
							class="rounded-2xl text-sm text-white px-2 truncate ..." selected>{{ element.state_name }}</mat-chip>
						</ng-container>
						<ng-container class="border-spacing-x-2.5" *ngIf="colum.id === 'payment_type'">
							<mat-chip [style.background-color]="'white'" [style.color]="element.payment_type_color"
								[style.border]="'2px dashed ' + element.payment_type_color" class="rounded-2xl text-sm italic  px-2 truncate ..."
								selected>{{ element.payment_type_name }}</mat-chip>
						</ng-container>
						<ng-container class="border-spacing-x-2.5" *ngIf="colum.id === 'expense_type_name'">
							<mat-chip [style.background-color]="'white'" [style.color]="element.expense_type_color"
								[style.border]="'2px solid ' + element.expense_type_color" class="rounded-2xl text-sm px-2 truncate ..."
								selected>{{ element.expense_type_name }}</mat-chip>
						</ng-container>
						<ng-container *ngIf="colum.id === 'total_amount'">
							{{ getColumnValue(element, colum.key) | currency:'USD':'symbol' }}
						</ng-container>
						<ng-container *ngIf="colum.id !== 'state_name' && colum.id !== 'total_amount'  && colum.id !== 'payment_type'  && colum.id !== 'expense_type_name'">
							{{ getColumnValue(element, colum.key) }}
						</ng-container>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell class="hidden md:contents" *matHeaderCellDef>
						<button [matMenuTriggerFor]="columnMenu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #columnMenu="matMenu">
							<mat-checkbox *ngFor="let col of hideColumns" [checked]="displayedColumns.includes(col.id)"
								(change)="toggleColumn(col.id)">
								{{ col.name }}
							</mat-checkbox>
						</mat-menu>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
					</mat-cell>
				</ng-container>

				<!-- Definir las filas -->
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<ng-container>
					<mat-row *matRowDef="let element; columns: displayedC;" class="product" matRipple (click)="showDetails(element)">
					</mat-row>
				</ng-container>
			</mat-table>
		</div>
	</div>
</div>
